In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("house_price_increase.csv")
df.head()

  house_id  price_increase_pct
0    NJ001                12.7
1    NJ002                11.3
2    NJ003                11.9
3    NJ004                13.2
4    NJ005                12.8

In [4]:
df.shape

(100, 2)

In [6]:
population_mean = 10 
population_std = 4

In [15]:
sample_mean = df.price_increase_pct.mean()
sample_mean

np.float64(11.0)

In [16]:
std_error = population_std/np.sqrt(df.shape[0])
std_error

np.float64(0.4)

In [18]:
z_score = (sample_mean - population_mean)/std_error 
z_score

np.float64(2.5)

In [28]:
alpha = 0.05 #significance level

In [29]:
from scipy import stats

z_critical = stats.norm.ppf(1 - alpha)
z_critical

np.float64(1.6448536269514722)

In [30]:
 z_score,z_critical

(np.float64(2.5), np.float64(1.6448536269514722))

Z TEST USING P VALUE

In [31]:
from scipy import stats

In [32]:
stats.norm.cdf(z_score)

np.float64(0.9937903346742238)

In [33]:
p_value = 1 - stats.norm.cdf(z_score)
p_value

np.float64(0.006209665325776159)

In [34]:
p_value,z_score

(np.float64(0.006209665325776159), np.float64(2.5))